<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#">基于Flask框架的艺术创作平台</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.html">主页</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="project-introduction.html">项目介绍</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="regist.html">注册</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="login.html">登录</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page lanidng-page">
        <section class="text-center portfolio-block block-intro">
            <div class="container">
                <div class="about-me">
                    <p>小仙男 的主页<br></p>
                    <div id="dongtai-container">
                        <div id="dongtai-time" class="div-inline"><strong class="dongtai-font">时间</strong></div>
                        <div id="dongtai-image" class="div-inline"><strong class="dongtai-font">作品</strong></div>
                    </div>
                    <div class="div-father">
                        <div class="div-inline2" height="100%">
                            <p>2020-05-04</p>
                        </div>
                        <div class="div-inline3" height="100%"><img src="assets/img/xiaoxiannan/1.jpg" height="30%" width="30%"></div>
                    </div>
                    <div class="div-father">
                        <div class="div-inline2" height="100%">
                            <p>2020-04-21</p>
                        </div>
                        <div class="div-inline3" height="100%"><img src="assets/img/xiaoxiannan/2.jpg" width="60%"></div>
                    </div>
                    <div class="div-father">
                        <div class="div-inline2" height="100%">
                            <p>2020-03-29</p>
                        </div>
                        <div class="div-inline3" height="100%"><img src="assets/img/xiaoxiannan/3.jpg" height="30%" width="30%"></div>
                    </div>
                </div>
                <div id="button-div"><a class="btn btn-outline-primary" role="button">更多动态</a></div>
            </div>
        </section>
        <section class="portfolio-block call-to-action border-bottom"></section>
        <section class="portfolio-block skills">
            <div class="container">
                <div class="heading">
                    <h2>《软件工程实验》项目</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-social-snapchat-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">艺术化处理照片</h3>
                                <p class="card-text">我们使用人工智能算法，它可以使用一幅图像的样式元素来绘制另一幅图像的内容，而且仅需三个步骤即可获得您自己的艺术品：<br>1.上传照片；<br>2.选择款式；<br>3.提交。<br><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-heart-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">自定义照片数据集</h3>
                                <p class="card-text">除了公共数据集之外，我们还支持用户上传、维护自己的私有数据集，在数据集界面中，可以<strong>上传数据集</strong>，在现阶段，我们只提供上传不大于50M的数据集的功能。<br><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-people"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">与有品位的人交往</h3>
                                <p class="card-text">一些心爱的照片不想发在朋友圈里，但却又想让一些朋友看见，分享自己内心的喜悦。我们这里是一个小清新的聚集地，可以认识很多有趣的小伙伴呀~<br><br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <section class="portfolio-block website gradient">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-5 offset-lg-1 text">
                    <h3>项目介绍</h3>
                    <p>本项目为北航计算机学院《软件工程实验》课程2019级硕士G组成员的作品！</p>
                </div>
                <div class="col-md-12 col-lg-5">
                    <div class="portfolio-laptop-mockup">
                        <div class="screen">
                            <div class="screen-content" style="background-image:url(&quot;assets/img/tech/image6.png&quot;);"></div>
                        </div>
                        <div class="keyboard"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="#">关于我们</a><a href="#">联系我们</a><a href="#">项目介绍</a></div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>