<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>主页-基于Flask框架的艺术创作平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/static/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="/static/css/-Login-form-Page-BS4-.css">
    <link rel="stylesheet" href="/static/css/Animated-CSS-Waves-Background-SVG.css">
    <link rel="stylesheet" href="/static/css/Bootstrap-DataTables.css">
    <link rel="stylesheet" href="/static/css/Bootstrap-Image-Uploader.css">
    <link rel="stylesheet" href="/static/css/Custom-Upload-File.css">
    <link rel="stylesheet" href="/static/css/Drag--Drop-Upload-Form.css">
    <link rel="stylesheet" href="/static/css/Drag-Drop-File-Upload.css">
    <link rel="stylesheet" href="/static/css/Dynamic-Table-1.css">
    <link rel="stylesheet" href="/static/css/Elegant-Registration-Form.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="/static/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/static/css/MUSA_no-more-tables-1.css">
    <link rel="stylesheet" href="/static/css/MUSA_no-more-tables.css">
    <link rel="stylesheet" href="/static/css/MUSA_panel-table-1.css">
    <link rel="stylesheet" href="/static/css/MUSA_panel-table.css">
    <link rel="stylesheet" href="/static/css/mycss.css">
    <link rel="stylesheet" href="/static/css/Pretty-Product-List.css">
    <link rel="stylesheet" href="/static/css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="/static/css/Pretty-User-List.css">
    <link rel="stylesheet" href="/static/css/responsive-registration-form-1.css">
    <link rel="stylesheet" href="/static/css/responsive-registration-form.css">
    <link rel="stylesheet" href="/static/css/Table-With-Search-1.css">
    <link rel="stylesheet" href="/static/css/Table-With-Search.css">
    <link rel="stylesheet" href="/static/css/User-Information-Panel---Lite--Secondary-User-Panel-Footer.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand border rounded shadow-lg logo" href="{{ buildUrl('/') }}" target="_blank">艺术创作平台</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation" id="navbarNavli1"><a class="nav-link border rounded shadow-lg" href="{{ buildUrl('/') }}">网站主页</a></li>
                    <li class="nav-item" role="presentation" id="navbarNavli7"><a class="nav-link border rounded shadow-lg" href="{{ buildUrl('/ViewAllWorks') }}">全网动态</a></li>
                    <li class="nav-item" role="presentation" id="navbarNavli2"><a class="nav-link border rounded shadow-lg active" href="{{ buildUrl('/projectIntroduction') }}">项目介绍</a></li>
                    {% if current_user: %}
                    <li class="nav-item" role="presentation" id="navbarNavli5"><a class="nav-link border rounded shadow-lg" href="{{ buildUrl('createArtPicture')}}">欢迎{% if current_user: %} {{current_user.email }} {% endif%}进行创作</a></li>
                    <li class="nav-item" role="presentation" id="navbarNavli8"><a class="nav-link border rounded shadow-lg" href="{{ buildUrl('/viewMyPost')}}">我的作品</a></li>
                    <li class="nav-item" role="presentation" id="navbarNavli6"><a class="nav-link border rounded shadow-lg" href="{{ buildUrl('/logout') }}">退出</a></li>
                    {% endif%}
                    {% if not current_user: %}
                    <li class="nav-item" role="presentation" id="navbarNavli3"><a class="nav-link border rounded shadow" href="{{ buildUrl('/memberRegister') }}">注册</a></li>
                    <li class="nav-item" role="presentation" id="navbarNavli4"><a class="nav-link border rounded shadow" href="{{ buildUrl('/memberLogin') }}">登录</a></li>
                    {% endif%}
                </ul>
            </div>
        </div>
    </nav>
    <main class="page lanidng-page">
        <section id="useToAttractUsers" class="text-center portfolio-block block-intro">
            <div class="container">
                <div class="about-me">
                    <p class="bg-light border-secondary shadow-lg">只需要经过简单的步骤，您就可以获得美美的艺术照片~<br>赶紧来尝试一下吧？</p>
                    <a class="btn btn-outline-primary" role="button" href="{{ buildUrl('/memberRegister') }}">注册新账号</a></div>
            </div>
        </section>
        <section class="portfolio-block photography">
            <h4 align="center"><br><br>效果展示:<br>图1是原图，图2为所需风格，图3为生成的图片。<br></h4>
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="/static/img/contrary/1.jpg" width="100%" height="100%"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="/static/img/contrary/1x.jpg" width="100%" height="100%"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover" vertical-align="middle"><a href="#"><img class="img-fluid image" src="/static/img/contrary/1y.jpg" width="100%" height="100%"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover" border="2px dashed #0F0"><a href="#"><img class="img-fluid image" src="/static/img/contrary/2.jpg" width="100%" height="100%"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="/static/img/contrary/2x.jpg" width="100%" height="100%"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="/static/img/contrary/2y.jpg"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="/static/img/contrary/3.jpg" width="100%" height="100%"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="/static/img/contrary/3x.jpg" width="100%" height="100%"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="/static/img/contrary/3y.jpg"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="/static/img/contrary/4.jpg" width="100%" height="100%"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="/static/img/contrary/4x.jpg" width="100%" height="100%"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="/static/img/contrary/4y.jpg" width="100%" heigth="100%"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="/static/img/contrary/5.jpg" width="100%" height="100%"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="/static/img/contrary/5x.jpg" width="100%" height="100%"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="/static/img/contrary/5y.jpg" width="100%" height="100%"></a></div>
                </div>
            </div>
        </section>
        <section class="portfolio-block call-to-action border-bottom">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center content">
                    <h3 id="zhucehaishidenglule">已经注册了账号?</h3><a id="registOrCreateWork" class="btn btn-outline-primary btn-lg" href="{{ buildUrl('/memberLogin') }}">直接登录</a></div>
            </div>
        </section>
        <section class="portfolio-block skills">
            <div class="container">
                <!-- Start: portfolio heading -->
                <div class="heading">
                    <h2>《软件工程实验》项目</h2>
                </div>
                <!-- End: portfolio heading -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-social-snapchat-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">艺术化处理照片</h3>
                                <p class="border rounded border-success card-text">我们使用人工智能算法，它可以使用一幅图像的样式元素来绘制另一幅图像的内容，而且仅需三个步骤即可获得您自己的艺术品：<br>1.上传照片；<br>2.选择款式；<br>3.提交。<br><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-heart-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">自定义照片数据集</h3>
                                <p class="border rounded border-success card-text">除了公共数据集之外，我们还支持用户上传、维护自己的私有数据集，在数据集界面中，可以<strong>上传数据集</strong>，在现阶段，我们只提供上传不大于50M的数据集的功能。<br><br><br><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-people"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">与有品位的人交往</h3>
                                <p class="border rounded border-success card-text">一些心爱的照片不想发在朋友圈里，但却又想让一些朋友看见，分享自己内心的喜悦。我们这里是一个小清新的聚集地，可以认识很多有趣的小伙伴呀~<br><br><br><br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <section class="portfolio-block website gradient">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-5 offset-lg-1 text">
                    <h3>项目介绍</h3>
                    <p class="border-dark">本项目为北航计算机学院《软件工程实验》课程2019级硕士G组成员的作品！</p>
                </div>
                <div class="col-md-12 col-lg-5">
                    <div class="portfolio-laptop-mockup">
                        <div class="screen">
                            <div class="screen-content" style="background-image:url(&quot;/static/img/buaa/buaaNMB.jpg&quot;);"></div>
                        </div>
                        <div class="keyboard"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="/aboutAndContactUs">关于我们</a><a href="/aboutAndContactUs">联系我们</a><a href="/projectIntroduction">项目介绍</a></div>
        </div>
    </footer>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="/static/js/Bootstrap-DataTables.js"></script>
    <script src="/static/js/Bootstrap-Image-Uploader.js"></script>
    <script src="/static/js/Custom-Upload-File.js"></script>
    <script src="/static/js/Dynamic-Table-1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="/static/js/Table-With-Search.js"></script>
    <!--<script src="/static/js/theme.js"></script>
    -->
    <script>
        $(document).ready(function() {
            var useToAttractUsers = document.getElementById("useToAttractUsers");
            var registOrCreateWork = document.getElementById("registOrCreateWork");
            var zhucehaishidenglule = document.getElementById("zhucehaishidenglule");
            if($("#navbarNavli5").length>0) {
                useToAttractUsers.style = "display:none;";
                registOrCreateWork.innerText="进行创作";
                zhucehaishidenglule.innerText="您已经登录~";
            }
        });


    </script>
</body>

</html>