<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>用户注册-基于Flask框架的艺术创作平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Hire me - Brand</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="static/css/styles.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand border rounded shadow-lg logo" href="{{ buildUrl('/') }}" target="_blank">艺术创作平台</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation" id="navbarNavli1"><a class="nav-link border rounded shadow-lg" href="{{ buildUrl('/') }}">网站主页</a></li>
                    <li class="nav-item" role="presentation" id="navbarNavli7"><a class="nav-link border rounded shadow-lg" href="{{ buildUrl('/ViewAllWorks') }}">全网动态</a></li>
                    <li class="nav-item" role="presentation" id="navbarNavli2"><a class="nav-link border rounded shadow-lg active" href="{{ buildUrl('/projectIntroduction') }}">项目介绍</a></li>
                    {% if current_user: %}
                    <li class="nav-item" role="presentation" id="navbarNavli5"><a class="nav-link border rounded shadow-lg" href="{{ buildUrl('createArtPicture')}}">欢迎{% if current_user: %} {{current_user.email }} {% endif%}进行创作</a></li>
                    <li class="nav-item" role="presentation" id="navbarNavli8"><a class="nav-link border rounded shadow-lg" href="{{ buildUrl('/viewMyPost')}}">我的作品</a></li>
                    <li class="nav-item" role="presentation" id="navbarNavli6"><a class="nav-link border rounded shadow-lg" href="{{ buildUrl('/logout') }}">退出</a></li>
                    {% endif%}
                    {% if not current_user: %}
                    <li class="nav-item" role="presentation" id="navbarNavli3"><a class="nav-link border rounded shadow" href="{{ buildUrl('/memberRegister') }}">注册</a></li>
                    <li class="nav-item" role="presentation" id="navbarNavli4"><a class="nav-link border rounded shadow" href="{{ buildUrl('/memberLogin') }}">登录</a></li>
                    {% endif%}
                </ul>
            </div>
        </div>
    </nav>
    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
                <form>
                <div class="form-group"><input id="email" class="form-control" type="email" name="email" placeholder="邮箱" required=""><div id="codeButton" class="btn btn-primary"  onclick="send()">确认发送邮箱验证码</div></div>
                <div class="form-group"><input id="code" class="form-control" type="number" oninput="if(value.length>6) {value=value.slice(0,6);alert('能且只能输入6位数字');};if(value<0) value=0;" name="code" placeholder="邮箱验证码" required=""></div>
                <div class="form-group"><input id="password" class="form-control" type="password" name="login_pwd1" placeholder="密码应包含2类字符且不少于8位" required=""></div>
                <div class="form-group"><input id="repeatPassword" class="form-control" type="password" name="login_pwd2" placeholder="请重新输入您设置的密码" required=""></div>
                <div class="form-group">
                    <div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox" required="">我愿意承担使用本网站导致的所有不良后果</label></div>
                </div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit" onclick="checkPassWord()">注册</button></div><a class="already" href="{{ buildUrl('/memberLogin') }}">您已经拥有一个账号？从这里登陆。</a></form>
        </div>
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="/aboutAndContactUs">关于我们</a><a href="/aboutAndContactUs">联系我们</a><a href="/projectIntroduction">项目介绍</a></div>
        </div>
    </footer>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="static/js/script.min.js"></script>
    <script>
        function send() {
            alert("send()函数成功触发");
            var email = eval(document.getElementById("email")).value.toString();
            alert("email成功赋值");
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/memberEmail",//后端请求处理的路径
                data:{ 'email':email },
                success: function(result) {
                    if(result.code==200){
                        alert("验证码已经发送到您的邮箱！");
                        document.getElementById("codeButton").innerHTML="验证码已发送！";
                     }
                    else if(result.code==400){
                            alert(result.msg);
                    }
                },
                error: function (result) {
                    alert("发生未知错误！请检查自己的网络。"+result);
                }
            });
            return true;
        }

        function checkPassWord()
        {
            var password = eval(document.getElementById("password")).value.toString();
            var repeatPassword = eval(document.getElementById("repeatPassword")).value.toString();
            var type = function(iN) {
                if (iN >= '0' && iN <= '9') //数字
                    return 1;
                if (iN >= 'A' && iN <= 'Z') //大写字母
                    return 2;
                if (iN >= 'a' && iN <= 'z') //小写字母
                    return 4;
                else  //特殊字符
                    return 8;
            }

            if(password.length<8){
                alert("请输至少8位字符长度的密码！");
                document.getElementById("password").value="";
                document.getElementById("repeatPassword").value="";
                return false;
            }else{
                var num = 0;
                var upchar = 0;
                var lowchar = 0;
                var specchar = 0;
                for(var i=0; i<password.length; i++)
                {
                    var x = type(password[i]);
                    //alert("第"+(i+1)+"个字符的类型是 "+x);
                    switch (x) {
                        case 1:
                            num = 1;break;
                        case 2:
                            upchar = 1;break;
                        case 4:
                            lowchar = 1;break;
                        case 8:
                            specchar = 1;break;
                        default:
                            break;
                    }
                }
                if(num+upchar+lowchar+specchar<2)
                {
                    alert("小于2成功执行！");
                    document.getElementById("password").value="";
                    document.getElementById("repeatPassword").value="";
                    alert("请输入至少2种字符."+num + upchar+lowchar+specchar);
                    return false;
                }
                else if(repeatPassword != password)
                {
                    alert("两次输入的密码不相同！请重新输入。")
                    document.getElementById("password").value="";
                    document.getElementById("repeatPassword").value="";
                    return false;
                }
                else
                {
                    alert("密码强度已足够。");
                }
            }
            alert("开始注册！");
            var register = function() {
                alert("开始var变量！");
                var email = eval(document.getElementById("email")).value.toString();
                var code = eval(document.getElementById("code")).value.toString();
                var login_pwd1 = eval(document.getElementById("password")).value.toString();
                var login_pwd2 = eval(document.getElementById("repeatPassword")).value.toString();

                alert("变量都已经var完");

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/memberRegister",//后端请求处理的路径
                    data:{ 'email':email,'code':code, 'login_pwd1':login_pwd1,'login_pwd2':login_pwd2 },
                    success: function(resp) {
                        if(resp.code==200){
                            alert("注册成功！");
                            window.location.href = "http://49.233.31.42:8999/memberLogin";
                        }else if(resp.code == 400){
                            alert("注册失败！");
                        }
                    },
                    error: function (result) {
                        alert("发生未知错误！请检查自己的网络。"+result);
                    }
                });
                return true;
            }
            register();
            alert("register()执行完成！");
        }
    </script>>

</body>

</html>